<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="filename">/tmp/LOG.log</Property>
		<Property name="PATTERN">%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
		<Property name="PATTERN1">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
	</Properties>

	<Appenders>
		 <Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>
		<File name="file" fileName="${filename}" immediateFlush="true"	append="false">
			<PatternLayout pattern="${PATTERN}" />
		</File>
	</Appenders>

	<!-- Игрался с данным представлением, не помню почему не остановился на нем. -->
	<!--<Appenders>
		<Appender type="Console" name="Console">
			<Layout type="PatternLayout" pattern="${PATTERN}" />
		</Appender>
		<Appender type="Console" name="FLOW">
			<Layout type="PatternLayout" pattern="${PATTERN}" />
		</Appender>
		<Appender type="File" name="File" fileName="${filename}">
			<Layout type="PatternLayout" pattern="${PATTERN}" />
		</Appender>
	</Appenders>-->

	<Loggers>
	<!-- Удобно когда нужно выводить определенную информацию для одного класса -->
	    <Logger name= "ru.andreyksu.annikonenkov.entrance.MainClass" level="debug" additivity="true">
           <AppenderRef ref="console"/>
        </Logger>

		<Root level="all" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>